---
layout: default
---

<!DOCTYPE html>
 <html>
  <head>
   <title>Posts</title>
   <link href="global.css" rel="stylesheet">
   <link href="index.css" rel="stylesheet">
   <link href="media/tab.png" rel="icon">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

<div id="social-bar">
    <div class="social-container">
     <a href="https://www.instagram.com/ky__gough" target="_blank"><img src="media/social/instagram.webp" id="icon" /></a>
     <a href="https://www.twitter.com/ky_gough" target="_blank"><img src="media/social/twitter.png" id="icon" /></a>
     <a href="https://www.facebook.com/kyg203" target="_blank"><img src="media/social/facebook.webp" id="icon" /></a>
     <a href="https://www.youtube.com/channel/UCggXnLKe5papgtr9RCxWoSQ" target="_blank"><img src="media/social/youtube.webp" id="icon" /></a>
     <a href="https://open.spotify.com/user/q0j8mc5hj4usy8p1e7r4jhh96?si=o65QLyKKSyeYX8LaXkTYdg&utm_source=native-share-menu" target="_blank"><img src="media/social/spotify.png" id="icon" /></a>
     <a href="mailto:kyrangough2019@gmail.com"><img src="media/social/email.png" id="icon" /></a>
	</div>
   </div>
   <div id="nav">
    <img src="media/KG.png" id="nav-profile">
    <p id="name">KY GOUGH</p> 
    <a href="index.html">HOME</a>
    <a href="photography.html">PHOTOGRAPHY</a>
    <a href="posts.html">POSTS</a>
    <a href="projects.html">PROJECTS</a>
    <a href="music.html">MUSIC</a>
    <a href="about">ABOUT</a>
    <a href="contact.html">CONTACT</a>
   </div>
   <div class="hero-img">
	 
{{ content }}
<ul class="myposts">
{% for post in site.posts %}
    <li><a href="{{ post.url }}">{{ post.title}}</a>
    <span class="postDate">{{ post.date | date: "%b %-d, %Y" }}</span>
    </li>
{% endfor %}
</ul>
